@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-outline-white2 {
  @apply bg-transparent border border-gray-200 py-3 mt-8 md:mt-20 
  inline-block px-9 text-white rounded-md hover:bg-white hover:text-black 
  font-dm-sans font-bold;
}
.btn-outline-claim {
  @apply bg-transparent border border-gray-200 py-3 mt-0
  inline-block px-9 text-white rounded-md hover:bg-white hover:text-black 
  font-dm-sans font-bold;
}
.btn-outline-white {
  @apply bg-transparent border border-gray-200 py-3 px-5 text-white rounded-md hover:bg-white hover:text-black;
}
.home-title {
  @apply uppercase text-white font-bold mx-auto  
    w-full sm:w-8/12 md:w-7/12 lg:w-7/12 xl:w-7/12 2xl:w-8/12 3xl:w-7/12  
    px-4 xs:px-0 mt-10
   text-4xl xs:text-5xl sm:text-5xl md:text-6xl mlb:text-7xl xl:text-8xl 2xl:text-9xl font-gobold;
}
.home-shape {
  @apply w-20 sm:w-28 md:w-32 mlb:w-36 lg:w-40 xl:w-auto;
}
.input-box {
  @apply bg-transparent text-white border-b border-white 
    outline-none box-border 
    w-full
    pt-4 pb-2 
    text-2xl sm:text-3xl md:text-4xl 
    placeholder:text-white
    font-dm-sans font-medium;
}
.inputWrapper {
  @apply w-full min-h-[100px] md:min-h-[130px] md:w-1/2;
}

.form-group {
  @apply md:flex gap-10;
}
.add-shape {
  @apply w-20 sm:w-28 md:w-32 mlb:w-36 lg:w-40 xl:w-auto;
}

/* custom fonts */
@font-face {
  font-family: 'Gobold';
  src: url('./font/gobold-bold.woff');
}

.font-dm-sans {
  font-family: 'DM Sans', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}
.font-popins {
  font-family: 'Poppins', sans-serif;
}
.font-gobold {
  font-family: Gobold;
}
.leading-1-2 {
  line-height: 1.2 !important;
}
.profileImageBg {
  /* background: linear-gradient(0deg, #a95865, #eb4e67, #f25dff);
   */
  background: linear-gradient(190deg, #eb4e67, #f25dff);
}

@media (max-width: 360px) {
  @media (max-height: 640px) {
    .scale-07 {
      transform: scale(0.7);
    }
  }
}
